</main>
<footer>
  <div class="waves">
    <div class="wave" id="wave1"></div>
    <div class="wave" id="wave2"></div>
    <div class="wave" id="wave3"></div>
    <div class="wave" id="wave4"></div>
  </div>
  <ul class="social_icon">
    <!--<li class="facebook" ><a href="https://www.facebook.com/"><ion-icon name="logo-facebook"></ion-icon></a></li>-->
    <li class="whatsapp" ><a href="https://chat.whatsapp.com/L8LQz8Egav969mMzoBReln"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
    
    <li class="instagram" ><a href="https://www.instagram.com/cbcym_1932"><ion-icon name="logo-instagram"></ion-icon></a></li>
  </ul>

  <ul class="menu">
    
    <li><a href="/files">Photo Gallery</a></li>
    <li><a href="/Prayer">Prayer Points</a></li>
    <li><a href="/service">Service</a></li>
    <li><a href="/team">Core Team</a></li>
    <li><a href="/contact">Contact Us</a></li>
    <li><a href="/feedback">Feedback</a></li>
  </ul>
  <p class="copyright"> Made with ❤️ in Chungtia.</p>

  <div id="year"></div>
    </footer>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const currentDate = new Date();
            const year = currentDate.getFullYear();
            document.getElementById('year').textContent = `CBCYM copyright© ${year}`;
        });
    </script>
</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>