<%- include('partials/header.ejs') %>



<p>
    
        <h3 style="color: rgb(9, 91, 9);">About Us </h3>
        <p style="color: rgb(6, 30, 137);"class="about">Here you can find more detailed information about our Ministry, including our team, vision, and other aspects that make us unique.</p>
        
        <!-- Additional Content -->
        
        <h3 style="color: rgb(15, 102, 50);">Our Team</h3>
        <p  style="color: rgb(6, 30, 137);" class="about">We have a passionate and skilled team working together to achieve our goals. Each member brings unique talents and expertise to the table, contributing to the success of our Ministry.</p>
        
        <h3 style="color: green;">Our Mission </h3>
        <p style="color:rgb(6, 30, 137);" class="about">Our Mission  is to  help the people who are weak in spirit. We aim to to bring more people to our lord and saviour Jesus Christ.</p>
   
 </p>

 <%- include('partials/footer.ejs') %>
