<%- include('partials/header.ejs') %>

<style>
    body{
        background-color: #FF9843;
    }
    
    </style>

<h1 style="color: green;">Contact Us</h1>
<a href="https://wa.me/7005849983"><ion-icon name="logo-whatsapp" height="100px" width="100px"></ion-icon>whatsapp our APY</a>

<!--<p>Email: <a href="sentiyenn.ajem@gmail.com">sentiyenn.ajem@gmail.com</a></p>-->
<p><a href="mailto:cbcym1932@gmail.com">@gmail CBCYM</a></p>

<%- include('partials/footer.ejs') %>