<%- include('partials/header.ejs') %>


  <h1>CHUNGTIA BAPTIST CHURCH YOUTH MINISTRY</h1>
  <img class="profile" src="images/logo.jpeg" alt="logo profile">
  <p style="font-style: italic; font-weight: bold; color: rgb(255, 2, 2);">"ye that fear the lord, trust in the lord" psalm 115:11</p>
  <br><br><br><br>
  <p class="p1">Chungtia Baptist Church Youth Ministry is a ministry based on Chungtia Village, Mokokchung, Nagaland,India.This Ministry was 4 september in the year  1932.
    </p>

  
    
    
     
   
    


    

  <%- include("partials/footer.ejs") %>