<%- include('partials/header.ejs') %>
<style>
  body{
      background-color: #FF9843;
  }
  
  </style>

<p style="color: rgb(248, 4, 4);"> This page is only meant for admin, if your not an admin please turn away,if you are an admin </p>

<h3 style="color: green;">Type your password below</h3>
<form action="/check" method="POST">
  <label for="password">Password:</label>
  <input type="text" id="password" name="password" required>
  <input type="submit" value="Submit">
</form>


<%- include('partials/footer.ejs') %>