<%- include('partials/header.ejs') %>


<h2 style="color: rgb(8, 47, 244);">Core team Leaders</h2>
            <h4 style="color: rgb(213, 33, 33);">Sangpipong Longchar Asso. Pastor Youth</h4>
            <H3 >Office bearers</H3>
              <ul style="color: green;">
                    <li >Temsurenba kichu President</li>
               <li> Merensungla Longchar Vice President</li>
               <li>L.Imlitoshi kichu General Secretary</li>
               <li>Bursashi Kichu Asst. General Secretary</li></ul>
               

            <h3>Finance Secretaries</h3>
            <ul style="color: green;">
            <li>Mangkoneken Ajem Finance Secretary</li>
            <li>Reshi Kichu Asst. finance Secretary</li></ul>


           <h3>Tsuk Secretary</h3> 
           <ul style="color: green;"><li> Burniken Kichu</li></ul>
           

           <h3>Teens Mentor</h3> <ul style="color: green;"><li>Impokyimla Kichu</li></ul>
           
           
           <h3> Senior Representative</h3><ul style="color: green;"><li>Opangtemjen Jamir</li><li>Toshinaro Imchen</li>
        <li>Mayangtemsu Kichu</li></ul>
        
        
        <h3>sports Team</h3>
        <ul style="color: green;"><li>wallang Kichu</li><li>Pangjungmeren Kichu</li><li>Merensoba Kichu</li></ul>
          
        
        <h3>Music Team</h3><ul style="color: green;"><li>Lipoktemsu Kichu </li><li>Bajamongla Kichu</li>
        <li>Watimongla Tsudir</li><li>Sentikumzuk Ajem</li><li>Imtiangzuk Kichu</li></ul>
        
        
        <h3>Networking And Media Team</h3>
        <ul style="color: green;"><li>Wapangtola Kichu</li><li>Lepokonen Ajem</li><li>Moasanen Longchar </li></ul>

        <h3>Hospitality Team</h3><ul style="color: green;"><li>Putusenla </li><li>Lendijungla</li>
<li>Sentiningsang Pongen</li><li>Imyudangba Kichu</li><li></li></ul>
       
<h3>Prayer  Team</h3>
<ul style="color: green;"><li>Tsuknungtemsu Longchar</li><li>Imtikumla Ajem</li><li>Metsubo kiChu</li>
    <li>Tekayangla</li><li>Yashilila</li></ul>
    
    
    <h3>Advisory Board</h3>
    <ul style="color: green;"><li>Imtimongba Kichu</li><li>A. Yangerla Kichu</li><li>A.Taliwati kiChu</li>
      </ul>

   <h3>Arogo Representative</h3>
   <ul style="color: green;">
      <li>S.Onen, Deacon</li>
      <li>Imkongwati Tenzuker</li>
   </ul>

   <h3>Arogotsur Representative</h3>
   <ul style="color: green;">
      <li>Kilangnaro Tenzukla</li>
      <li>supongmenla Tenzukla</li>
   </ul>


   <%- include('partials/footer.ejs') %>